# Ignore local dev only files

*.gem
*.log
*.rbc
*.sqlite3
.bundle
.config
.env
.yardoc
config/database.yml
coverage
InstalledFiles
lib/bundler/man
log/*
pkg
public/system/*
rdoc
rerun.txt
spec/reports
spec/tmp/*
tags
test/tmp
test/version_tmp
tmp/**/*
vendor/*
vim/.netrwhist
zeus.json
_yardoc

# Ignore compilation junk

**.orig
*.rbc
*.sassc
*.sw[nop]
.rspec
.sass-cache
capybara-*.html
pickle-email-*.html
rerun.txt

# Ignore filesystem trash

*.DS_Store
*Thumbs.db
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# Specifically DO NOT ignore these things

!.gitignore
!.slugignore
!.ruby-version

!bin/.libs/libjpeg.so
!bin/.libs/libjpeg.so.8
!bin/.libs/libjpeg.so.8.4.0
!bin/cdjpeg.o
!bin/jpegtran
!bin/jpegtran.o
!bin/pngcrush
!bin/rdswitch.o
!bin/transupp.o

!log/.gitkeep
!tmp/cache/.gitkeep